{% assign selected-publications = site.data.data.selected-publications %}
{% if selected-publications %}
<section class="section selected-publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ selected-publications.title }}
  </h2>

  {% if selected-publications.intro %}
  <div class="intro">
    {{ selected-publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for selected-publication in selected-publications.papers %}
  <div class="item">
    {% if selected-publication.link %}
      <div><a href="{{ selected-publication.link }}">{{ selected-publication.title }}</a></div>
    {% else %}
      <div>{{ selected-publication.title }}</div>
    {% endif %}
    <div class="selected-publication-authors">{{ selected-publication.authors }}</div>
    <div class="selected-publication-conference">{{ selected-publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}


</section><!--//section-->
{% endif %}
